{
  "expo": {
    "name": "{{TITLE}}",
    "slug": "{{SLUG}}",
    "version": "0.1.0",
    "orientation": "portrait",
    "scheme": "{{SLUG}}",
    "userInterfaceStyle": "{{COLOR_SCHEME}}",
    "backgroundColor": "{{COLOR_GROUND}}",
    "plugins": ["expo-router"],
    "experiments": { "typedRoutes": true }
  }
}
